/* LOAD SPINNER */
.loader {
  border: 1rem solid $color-offWhite;
  border-top: 1rem solid $color-primary-dark;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 0.6s linear infinite;
  position: absolute;
  top: 50%;
  left: 45%;

  @include respond(phone) {
    left: 38%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
