body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  padding: 3rem;
  padding-bottom: 1rem;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(tablet) {
    flex-direction: column;
    justify-content: center;
  }
}

.search-form {
  align-self: flex-end;
  display: flex;

  @include respond(tablet) {
    align-self: center;
    margin: 3rem 0 2rem 0;
  }
}

.search {
  padding: 0.8rem 2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5rem;
  background: $color-offWhite;
  outline: none;
  width: 30rem;
  transition: all 0.2s;

  &__icon {
    width: 2rem;
    height: 2rem;
    margin-left: -4rem;
    fill: $color-primary-light;
    cursor: pointer;
  }
}

.search:focus {
  background: rgb(247, 247, 247);
}

#degrees-option {
  font-family: inherit;
  color: $color-main-white;
  outline: none;
  background: $color-primary-dark;
  padding: 0.5rem;
  border: none;
  align-self: flex-end;

  @include respond(tablet) {
    align-self: flex-end;
  }
}

#degrees-option option {
  background: rgba($color-secondary-dark, 0.7);
  font-size: inherit;
  font-family: inherit;
}

.container {
  background-image: linear-gradient(
    to right,
    rgba($color-primary-dark, 1) 65%,
    rgba($color-primary-light, 1)
  );
  color: $color-main-white;
}

.container.dark {
  background-image: linear-gradient(
    to right,
    rgba($color-grey-dark, 1) 65%,
    rgba($color-grey, 1)
  );
}

.container.dark {
  background-image: linear-gradient(
    to right,
    rgba($color-grey-dark, 1) 65%,
    rgba($color-grey, 1)
  );
}

.weather-container {
  width: 90%;
  max-width: 70rem;
  margin: 5rem auto;
  padding: 4rem;
  font-size: 2rem;
  position: relative;

  &__city {
    color: white;
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;

    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__last-update {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  &__temperature {
    font-weight: 800;
    font-size: 10rem;

    @include respond(tablet) {
      font-size: 8rem;
    }

    @include respond(small-tablet) {
      align-self: flex-start;
    }

    @include respond(phone) {
      font-size: 7rem;
    }
  }

  &__icon {
    width: 10rem;
    position: absolute;
    top: 3rem;
    right: 3.5rem;

    @include respond(tablet/phone) {
      top: 13.5rem;
    }

    @include respond(small-phone) {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $color-secondary-dark;

    @include respond(small-tablet) {
      flex-direction: column;
    }
  }

  &__humidity {
    margin-bottom: 1rem;
  }

  &__humidity-wind {
    @include respond(small-tablet) {
      align-self: flex-start;
      margin-bottom: 2rem;
    }
  }

  &__info-days {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    li:not(:first-child) {
      font-size: 1.4rem;
      margin-left: 0.5rem;
    }

    li:first-child {
      margin-bottom: 1rem;
    }

    li:last-child {
      display: flex;
      align-items: center;
      margin-top: -0.5rem;

      @include respond(phone) {
        text-align: center;
        justify-content: center;
        margin-bottom: 2rem;
      }
    }

    li:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    @include respond(phone) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__small-icon {
    display: inline-block;
    width: 3rem;
  }
}

.wind-mph {
  font-size: 1.3rem;
}

.footer {
  text-align: center;
  font-size: 1.3rem;
  color: $color-grey-dark;
  margin-bottom: 3rem;
}

.error {
  font-size: 1.6rem;
  text-align: center;
  color: crimson;
}
