$color-primary-light: #2998ff;
$color-primary-dark: #5643fa;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-medium: #55c57a;
$color-tertiary-dark: #28b485;

$color-main-black: #222;
$color-main-white: #fff;

$color-offWhite: #f1f1f1;

$color-grey: #888;
$color-grey-dark: rgb(87, 87, 87);

$box-shadow-light: 0.3rem 0.6rem 1rem rgba(34, 34, 34, 0.226);
$box-shadow-medium: 0.3rem 0.6rem 1rem rgba(34, 34, 34, 0.616);
